@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

:root{}

.container{
    width: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.container-header{
    width: 100%;
    position: relative;
}

.container-menu{
    /* background-color: tomato; */
    grid-area: header;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 5rem;
}

.header-title{
    color: #fff;
    font-size: 1.5rem;
}

.nav__list{
    /* background-color: skyblue; */
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav__list a{
    text-decoration: none;
    display: block;
    position: relative;
    color: #fff;
}

.nav__list a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: width .6s ease-in-out;
}

.nav__list a:hover::after{
    width: 100%;
}

.navbar{
    display: none;
}

.navbar-menu{
    background-color: #fff;
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 1000;
    width: 320px;
    transform: translateX(320px);
    transition: all .6s ease-in-out;
}

.navbar-menu-activo{
    transform: translateX(-1px);
}

.navbar-menu ul{
    /* background-color: greenyellow; */
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navbar-menu ul a{
    display: block;
    text-decoration: none;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    color: #000;
    transition: all .6s ease-in-out;
}

.navbar-menu ul a:hover{
    background-color: #000;
    color: #fff;
}

.container-main{
    grid-area: main;
}

.container-footer{
    grid-area: footer;
}

.hero{
    width: 100%;
    height: 90vh;

    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4990371148459384) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4990371148459384) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%), url("https://cutt.ly/04AKQB3");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0 5rem;
}

.hero__name{
    /* background-color: tomato; */
    width: 310px;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
}

.hero__name::first-line{
    -webkit-text-stroke: 1px #fff;
    color: transparent; 
}

.hero__profession{
    /* background-color: seagreen; */
    margin-top: 2rem;
    font-size: .9rem;
}

/* ABOUT */

.about{
    /* background-color: tomato; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
}

.about__image{
    /* background: purple; */
    width: 40%;
    min-width: 320px;
}

.about__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__description{
    /* background-color: purple; */
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__title{
    /* background-color: red; */
    text-transform: uppercase;
}

.about__info{
    /* background-color: orange; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2rem;
    gap: .625rem;
}

.about__info p{
    /* background-color: blue; */
}

.about__btn{
    /* background-color: yellow; */
}

.about__btn button{
    width: 150px;
    height: 3rem;
    border: none;
    border-radius: 0;
    transition: all .6s ease-in-out;
    background-color: #fff;
}

.about__btn button:hover{
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* PROJECTS */

.projects{
    background-color: #444444;
    width: 100%;
    padding: 5rem;
}

.projects__title{
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.projects__project{
    /* background-color: orange; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 2rem;
}

.project{
    background: tomato;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.project__text{
    background-color: rgba(255, 255, 255, 0.384);
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: clip-path .6s ease-in-out;
    padding: 1rem;
    color: #000;
}

.project__text-title{
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .3125rem;
}

.project__text-description{
    font-size: .75rem;
}

.project:hover .project__text{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* .projects__project .project:first-child{
    background-image: url("https://acortar.link/t2UWvi");
}

.projects__project .project:nth-child(2){
    background-image: url("https://acortar.link/zl0uzp");
}

.projects__project .project:nth-child(3){
    background-image: url("https://acortar.link/4WrgOu");
}

.projects__project .project:nth-child(4){
    background-image: url("https://acortar.link/hkupfP");
}

.projects__project .project:nth-child(5){
    background-image: url("https://acortar.link/k1hhVL");
}

.projects__project .project:nth-child(6){
    background-image: url("https://acortar.link/M29wEu");
}

.projects__project .project:nth-child(7){
    background-image: url("https://acortar.link/2k9JJd");
}

.projects__project .project:nth-child(8){
    background-image: url("https://acortar.link/C2JE29");
}

.projects__project .project:nth-child(9){
    background-image: url("https://acortar.link/gHuo64");
} */


/* CONTACT */

.contact{
    /* background-color: tomato; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
    gap: 5rem;
}

.contact__map{
    width: 500px;
    flex-grow: 1;
    min-width: 320px;
    align-self: flex-end;
}

.contact__map img{
    width: 100%;
}

.contact__data{
    flex-grow: 1;
    /* background-color: red; */
    width: 40%;
}

.contact__title{
    margin-bottom: 3rem;
}

.form{
    /* background-color: green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form input,
.form textarea{
    width: 100%;
    outline: none;
    border: 1px solid #444444;
    background-color: transparent;
    color: #fff;
    padding: 0 1rem;
}

.form input{
    height: 3rem;
}

.form input[type="submit"]{
    width: 40%;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #000;
    transition: all .6s ease-in-out;
}

.form input[type="submit"]:hover{
    background-color: transparent;
    border: 1px solid #444444;
    color: #fff;
    cursor: pointer;
}

.form textarea{
    resize: none;
    padding: 1rem;
}


/* FOOTER */

.container-footer{
    width: 100%;
    background-color: #444444;
    padding: 6rem 5rem;
}

.contact__options{
    /* background-color: orange; */
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 3rem;
}

.option{
    /* background-color: green; */
    flex-grow: 1;
    /* flex-basis: 25%; */
}

.redesSociales{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

@media only screen and (max-width: 992px){

    .container-menu,
    .hero,
    .about,
    .projects,
    .contact,
    .container-footer{
        padding: 0 2rem;
    }
    
    .nav{
        display: none;
    }

    .navbar{
        display: flex;
        color: #000;
        font-size: 1.2rem;
    }
    
    .container-menu{
        background-color: #fff;
    }

    .header-title{
        color: #000;
    }

    .hero{
        height: 50vh;
    }

    .contact__data,
    .about__image,
    .contact__map,
    .about__description{
        /* flex-grow: 1; */
        width: 100%;
    }
}

@media only screen and (max-width: 576px){
    .about__info{
        grid-template-columns: 1fr;
    }

    .hero__name{
        width: 250px;
        font-size: 4rem;
    }

    .container-menu,
    .hero,
    .about,
    .projects,
    .contact,
    .container-footer{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 320px){
    .container-menu,
    .hero,
    .about,
    .projects,
    .contact,
    .container-footer{
        padding: 0;
    }
}